.main-contents
  .main__header
    .main__header__box
      .main__header__box__name
        ユーザーネーム
      .main__header__box__member
        member: だれか
    .main__header__edit
      = link_to "Edit", "#" , class: "eee" 
  .main__messages
    .main__message
      .main__message__box
        .main__message__box--username
          ユーザーネーム
        .main__message__box--time
          2020/2/22/(Wed)21:00:00
      .main__message__text
        おはよう

  .main__from
    .form__message
      .form__message__box
        %input{type: "text" , class:"form__message__box__input" , placeholder: "type a message"}
        %label{class: "form__message__box__image"}
          = icon('fas','image')
          %input{type: 'file',class: "form__message__box__image--file"}
      %input{type:"submit", class: "form__message__submit"}