.side-contents{
  width: 300px;
  height: 100vh;
  background-color:#253141;
  
  .side-header{
    background-color: #253141;
    width: 300px;
    height: 100px;
    align-items: center;
    display: flex;
    padding: 0 20px;

    &__box{
      background-color: #253141;
      width: 100%;
      font-weight: bold;
      height: 20px;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      color: white;
      font-size: 16px;
      

      &__menu{
        display: flex;
        i{
          color: white;
        }
      }
        li{
          margin-left: 5px;
      }
    } 
  }
  .side-group{
    background-color: #2f3e51;
    width: 300px;
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    overflow: scroll;
    a{
      margin-bottom:40px;
      color: white;
      text-decoration: none;
    
      &__name{
      font-size: 15px;
      margin-bottom: 5px;
      
      }
      .side-group__message{
      font-size: 11px;
      
      }
    }
  }
}

